.product-container {
    border: 1px solid;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-color: white;
    background-color: rgb(252, 246, 246);
}

.options {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.sales {
    border: 1px solid;
    border-color: transparent;
    width: auto;
    height: auto;
    padding: 50px;
    background-color: #958ad4;
}

.footer {
    border: 1px solid;
    border-color: transparent;
    width: auto;
    height: auto;
    background-color: #0E071B;
    text-align: center;
}

.lists {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    text-align: left;
}

.service-link {
    text-decoration: none;
    color: white;
}